.primary-nav {
  padding-top: 10px;
  @mixin atMedium {
    padding-top: 0;
  }
  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }
  ul {
    @mixin clearfix;
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    display: inline-block;
    padding-right: 7px;
    font-size: 0.8rem;
    &:last-child {
      padding-right: 0;
    }
    @mixin atSmall {
      font-size: 1rem;
    }
    @mixin atMedium {
      display: block;
      padding-right: 20px;
      float: left;
      &:last-child {
        padding-right: 20px;
      }
    }
  }
  a {
    padding: 5px 8px;
    background: $mainBlue;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    @mixin atMedium {
      padding: 12px 0;
      display: block;
      background: transparent;
      padding: 12px 0;
    }
  }
}
